/*!
 *  Rahendz Style v1.0.0 by @rahendz - http://rahendz.github.io
 *  MIT License
 */
/* STYLES */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEElEQVQImWOYPXu2MQMdAADPnwIFRPuXKwAAAABJRU5ErkJggg==) repeat;
  font-family: "Lato", Verdana, Helvetica, Serif, Arial;
  position: relative;
}
a:link,
a:focus,
a:hover {
  -webkit-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out, background-color 0.25s ease-out;
  transition: color 0.25s ease-out, background-color 0.25s ease-out;
}
header.master-head {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.navbar {
  min-height: auto;
  margin-top: 30px;
}
.navbar .navbar-collapse {
  padding: 0;
}
.navbar .nav-justified > li > a {
  color: #999999;
}
.navbar .nav-justified > li > a > span {
  color: #555555;
}
.navbar .nav-justified > li.active > a {
  background-color: #eeeeee;
}
@media (max-width: 767px) {
  .navbar {
    margin-top: 10px !important;
    background: none;
    border: 0;
    box-shadow: none;
  }
  .navbar-toggle {
    background-color: white;
    margin: 0 0 10px;
  }
  .navbar #navbar {
    background-color: white;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 5px #dddddd;
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar #navbar {
    display: block;
    height: auto !important;
  }
}
section {
  height: 100%;
}
section > article {
  height: 100%;
}
section > article > div.content-wrapper {
  padding: 100px 0;
  display: table;
  height: 100%;
}
section > article > div.content-wrapper > div.content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
@media (max-width: 767px) {
  section > article > div.content-wrapper {
    padding: 30px 0;
  }
}
section > article#home > div.content-wrapper > div.content > img.avatar {
  margin-bottom: 40px;
  width: 200px;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 100%;
}
@media (max-width: 767px) {
  section > article#home > div.content-wrapper > div.content > img.avatar {
    width: 25%;
    margin-bottom: 20px;
  }
}
section > article#home > div.content-wrapper > div.content > h1 {
  color: #999999;
  font-size: 8rem;
  font-family: "LatoThin", Verdana, Helvetica, Serif, Arial;
}
section > article#home > div.content-wrapper > div.content > h1 > span {
  color: #555555;
}
section > article#home > div.content-wrapper > div.content > h1 > oneline {
  white-space: nowrap;
}
@media (max-width: 767px) {
  section > article#home > div.content-wrapper > div.content > h1 {
    font-size: 5rem;
  }
}
section > article#home > div.content-wrapper > div.content > h3 {
  color: #883333;
}
section > article#home > div.content-wrapper > div.content > h3 > span {
  color: #999999;
}
@media (max-width: 767px) {
  section > article#home > div.content-wrapper > div.content > h3 {
    font-size: 1.8rem;
  }
}
section > article#aboutme > div.content-wrapper > div.content > p {
  font-size: 2rem;
  font-family: 'LatoLight', Verdana, Helvetica, Serif, Arial;
  line-height: 4rem;
  margin: 0 0 30px 0;
  text-align: center;
}
@media (max-width: 767px) {
  section > article#aboutme > div.content-wrapper > div.content > p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 15px 20px;
  }
}
section > article#aboutme > div.content-wrapper > div.content > ul {
  list-style: none;
}
section > article#aboutme > div.content-wrapper > div.content > ul > li {
  font-size: 2rem;
  font-family: 'LatoLight', Verdana, Helvetica, Serif, Arial;
}
section > article#aboutme > div.content-wrapper > div.content > ul > li > i.fa {
  color: white;
  background-color: #999999;
  padding: 6px 7px 8px;
  border-radius: 100%;
  font-size: 1.5rem;
}
