@font-face {
  font-family: 'baskerville';
  font-style: normal;
  font-weight: 400;
  src: 	local('Libre Baskerville'),
  		local('LibreBaskerville-Regular'),
  		url('../fonts/baskerville/Libre-Baskerville.woff2') format('woff2');
}